################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LMS/FileContentIndex/3435287f-76ee-427f-b4c6-98f6e03c3782.vsidx
/.vs/LMS/FileContentIndex/7f76274a-28bd-4a8f-b8a3-f2f2556310e3.vsidx
